.fm {
  background: black;
  width: 100vw;
  height: 100vh;
}

.titleInput {
  width: 20em;
  height: 5em;
  font-size: 2em;
  margin: auto;
  display: block;
  background-color: black;
  padding-top: 2em;
}

.titleField {
  width: 30em;
  height: 3em;
  margin: auto;
  display: block;
  text-align: center;
}
