.fm {
  background: black;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.titleInput {
  width: 30em;
  height: 5em;
  display: block;
  font-size: 2em;
}

.titleField {
  width: 40em;
  height: 3em;
  text-align: center;
  margin: 3em 3em;
}
